th {
    color: aqua;
    font-style: italic;
}

.first {
    color: blue;
}

.second {
    color: blueviolet;
}

.third {
    color: aquamarine;
}

.fourth {
    color: purple;
}

.fifth {
    color: brown;
}

.sixth {
    color: pink;
}